#%RAML 1.0
title: Simple raml API
mediaType: application/json
description: This is a simple raml API.
version: v3
baseUri: https://api.BasicRamlAPI.com/{version}
securitySchemes:
  basic:
    type: Basic Authentication
    description: This is basic security scheme
  digest:
    type: Digest Authentication
    description: This is a digest security scheme
  oauth_1_0:
    description: |
      OAuth 1.0 continues to be supported for all API requests, but OAuth 2.0 is now preferred.
    type: OAuth 1.0
    settings:
      requestTokenUri: https://api.mysampleapi.com/1/oauth/request_token
      authorizationUri: https://api.mysampleapi.com/1/oauth/authorize
      tokenCredentialsUri: https://api.mysampleapi.com/1/oauth/access_token
      signatures: [ 'HMAC-SHA1', 'PLAINTEXT' ]
securedBy: oauth_1_0
/users:
  /search:
    get:
      responses:
          201:
            body:
              application/json:
                properties:
                  groupName:
                    default: groupName example
                  deptCode:
                    type: number
                    default: 12345
            headers:
              Location:
                example: /invoices/45612
              Header:
                example: Bangalore
    post:
      securedBy: [digest]
      body:
        properties:
          firstname: string
          lastname: string
          age: number
        example:
          firstname: someName
          lastname: someLastName
          age: 10
      headers:
        myHeader:
          example: headerExample
        SomeOtherHeader:
          example: OtherExample
