#%RAML 1.0
title: RAML body to PM body
baseUri: https://api.body.com
/file-content:
  description: The file to be reproduced by the client
  post:
    description: Get the file content
    body:
      application/x-www-form-urlencoded:
        properties:
          hello: string
          world: number
          this:
            properties: 
              is: string
              object: integer
  put:
    description: |
      Use the "multipart-form/data" content type to upload a file which content will become the file-content
    body:
      multipart/form-data:
        properties:
          file:
            description: The file to be uploaded
            required: true
            type: file
/songs:
  get:
    responses:
      200: 
        body:
          text/plain: |
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in suscipit neque. Orci varius natoque 
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec condimentum mauris eget dictum egestas. 
            Mauris a metus et neque sagittis molestie. Cras aliquam ac sem ut fringilla.
      201: 
        body:
          text/html: |
            <!DOCTYPE html>
            <html>
              <head>
                <title>Page Title</title>
              </head>
              <body>
                <h1>This is a Heading</h1>
                <p>This is a paragraph.</p>
              </body>
            </html>
      202: 
        body:
          text/xml: |
            <?xml version="1.0" encoding="utf-8"?>
            <song>
              <title>str1234</title>
              <artist>str1234</artist>
            </song>